<form [formGroup]="profileForm">

    <h1 mat-dialog-title>Demande d'envoi de problème</h1>
    
    <mat-form-field class="email">
        <mat-label>Adresse mail</mat-label>
        <textarea matInput placeholder="Ex. pat@gmail.com" formControlName="email"></textarea>
    </mat-form-field>
    
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea rows="8" matInput formControlName="description"></textarea>
    </mat-form-field>
    
    <mat-dialog-actions align="end">
      <button mat-flat-button class="ok" type="submit" color="primary" (click)="onSubmit()">Valider</button>
      <button mat-button mat-dialog-close class="retour">Retour</button>
    </mat-dialog-actions>
    
    </form>
    
    