.row {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-classement {
  border: 2px solid #3646a8;
  border-radius: 5px;
  border-collapse: collapse;
  margin: 2px;
}

.cla {
  width: 650px;
}

.mess {
  width: 300px;
}

table{
  width: 90%;
  border-collapse: collapse;
}

.caption-classement {
  font-size: 25px;
  font-weight: bold;
  text-decoration: blink;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #3646a8;
  margin-bottom: 10px;
  border: 1px dashed #3646a8;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.th-classement {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  color: #3646a8;
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid #3646a8;
}

.td-classement {
  text-align: center;
  font-size: 15px;
  color: #3646a8;
  font-weight: bold;
  padding-left: 100px;
  border-bottom: 1px solid #3646a8;
}


.chat-box {
  border: 1px solid #3646a8;
  padding: 10px;
  border-radius: 5px;
}

.label-chat {
  color: #3646a8;
  font-weight: bold;
  margin-bottom: 5px;
}

.message-list {
  max-height: 40vh;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message-list div {
  border: 1px dashed #3646a8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-box form {
  border: 1px solid #3646a8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-box form textarea {
  padding: 1px;
  outline: none;
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  border: 1px dashed #3646a8;
  border-radius: 5px;
}

.chat-box form button {
  background-color: #3646a8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.chat-box form button:hover {
  background-color: #293a80;
}

.container {
  width: 50vw;
  margin: 0 auto 30px auto;
}

.col-classement {
  width: 50vw;
  min-width: 60%;
  margin-right: 5%;
}

.col-chat {
  width: 50vw;
}

#titre {
  font-size: 18px;
  color: #293a80;
  font-weight: bold;
}