<div class="parent">
  <div class="div1">
    <form [formGroup]="profileCoForm">
      <h1>Connexion au compte</h1>
    
      <mat-form-field appearance="outline" class="email">
        <mat-label>Adresse mail</mat-label>
        <input matInput placeholder="Ex. pat@gmail.com" formControlName="email">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="mdp" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    
    <p id="mdp" (click)="resetPassword()">Mot de passe oublié ?</p>
    <button mat-flat-button class="ok" type="submit" color="primary" (click)="onSubmit()">Valider</button>

  </div>
  <div class="div2">
    <img class="image" src="../../../assets/img/connexionIMG.webp" alt="image"/>
  </div>
</div>
