<p class="titre">Résultats des matchs</p>

<img class="image" src="../../../assets/img/logoL1.png" alt="image"/>
<p class="journee">Journée {{journeeActuelle()}}</p>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Equipe 1 -->
    <ng-container matColumnDef="clubDesktop_domicile">
      <th mat-header-cell *matHeaderCellDef> Equipe domicile </th>
      <td class="equipeColor equipe"
          (mouseenter)="colorHomeTeamOnMouse(match.equipeDomicile)"
          (mouseleave)="color = ''"
          [style.color]="color"
          mat-cell *matCellDef="let match"> {{match.clubDesktop_domicile}}  </td>
    </ng-container>

    <!-- Score 1 -->
    <ng-container matColumnDef="score_domicile">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let match"> {{match.score_domicile}} </td>
    </ng-container>

    <!-- Score 2 -->
    <ng-container matColumnDef="score_exterieur">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let match"> {{match.score_exterieur}} </td>
    </ng-container>

    <!-- Equipe 2 -->
    <ng-container matColumnDef="clubDesktop_exterieur">
      <th mat-header-cell *matHeaderCellDef> Equipe extérieur </th>
      <td class="equipeColor equipe"
          (mouseenter)="colorAwayTeamOnMouse(match.equipeExterieur)"
          (mouseleave)="color = ''"
          [style.color]="color"
          mat-cell *matCellDef="let match"> {{match.clubDesktop_exterieur}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="pagination" [pageSize]="10" (page)="onChangePage($event)" [length]="380" showFirstLastButtons></mat-paginator>
</div>

<p id="space">.</p>