<p class="titre">Liste des matchs</p>

<img class="image" src="../../../assets/img/logoL1.png" alt="image"/>

<div *ngIf="pageEvent; else elseBlock">
  <p class="journee">Journée {{pageEvent.pageIndex+1}}</p>
</div>
<ng-template #elseBlock>
  <p class="journee">Journée {{this.journeeActuelle()}}</p>
</ng-template>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Equipe 1 -->
    <ng-container matColumnDef="equipe1">
      <th mat-header-cell *matHeaderCellDef> Equipe domicile </th>
      <td class="equipeColor equipe"
          onmouseover="this.classList.remove('equipeColor')"
          onmouseleave="this.classList.add('equipeColor')"
          (mouseover)="colorHomeTeamOnMouse(match.homeTeam)"
          [style.color]="color"
          mat-cell *matCellDef="let match"> {{match.homeTeam}}  </td>
    </ng-container>

      <!-- Score 1 -->
    <ng-container matColumnDef="score1">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let match"> {{match.scoreHomeTeam}} </td>
    </ng-container>

    <!-- Score 2 -->
    <ng-container matColumnDef="score2">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let match"> {{match.scoreAwayTeam}} </td>
    </ng-container>

    <!-- Equipe 2 -->
    <ng-container matColumnDef="equipe2">
      <th mat-header-cell *matHeaderCellDef> Equipe extérieur </th>
      <td class="equipeColor equipe"
          onmouseover="this.classList.remove('equipeColor')"
          onmouseleave="this.classList.add('equipeColor')"
          (mouseover)="colorAwayTeamOnMouse(match.awayTeam)"
          [style.color]="color" 
          mat-cell *matCellDef="let match"> {{match.awayTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="pari">
      <th mat-header-cell *matHeaderCellDef> Mon pari </th>
      <td mat-cell *matCellDef="let match"> 2 - 1 </td>
    </ng-container>


    <ng-container matColumnDef="resultat">
      <th mat-header-cell *matHeaderCellDef> Résultat </th>
      <td mat-cell *matCellDef="let match"> + 3 </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="pagination" [pageSize]="10" (page)="pageEvent = $event"></mat-paginator>
</div>