<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <img src="assets/img/log.png" alt="image"/>
      <span class="title">Pari-Ligue 1 </span>
      <span class="example-spacer"></span>
      <section>
          <a class="buttonTop" mat-stroked-button (click)="sidenav.toggle()" href=""> Accueil </a>
          <a class="buttonTop" mat-stroked-button (click)="openDialogContact()"> Contact </a>
      </section>
      <div *ngIf="!connect(); else elseBlockDeco">
        <a class="buttonTop" mat-stroked-button [routerLink]="'/auth/connexion-component'" routerLinkActive="active"> Connexion </a>
        <a class="buttonTop" mat-stroked-button [routerLink]="'/auth/create-component'" routerLinkActive="active"> Création compte </a>
      </div>
      <ng-template #elseBlockDeco>
        <button class="buttonTop" mat-stroked-button (click)="deco()">Déconnexion</button>
      </ng-template>

      <router-outlet></router-outlet>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Affronte tes amis et montre que tu es le meilleur !</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>HOME</a>
        <div *ngIf="connect(); else elseBlock">
          <a mat-list-item [routerLink]="'/tasks/taches-component'" routerLinkActive="active"> Liste des matchs </a>
          <a mat-list-item [routerLink]="'/tasks/classement-component'" routerLinkActive="active"> Classement </a>
        </div>
        <ng-template #elseBlock>
          <a mat-list-item [routerLink]="'/auth/connexion-component'" routerLinkActive="active"> Connexion </a>
          <a mat-list-item [routerLink]="'/auth/create-component'" routerLinkActive="active"> Création compte </a>
        </ng-template>
        <router-outlet></router-outlet>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>

      <p>Viens décrocher la première place !</p>

      <div style="height: 63vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

<footer>
  <h1>Aurélien Carray - Estebann Koenig - Engueran Raout</h1>
 
</footer>
