h2 {
  font-size: 25px;
  font-weight: bold;
  color: #3646a8;
  margin-bottom: 20px;
  border: 1px dashed #3646a8;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.equipeColor {
  color: #3646a8 !important;
}

.equipe {
  user-select: none;
  font-weight: bold;
  transition: 0.1s;
}

.pagination {
  width: 75%;
  margin: auto;
}



.journee {
  margin: 40px auto 40px auto;
  padding-top: 9px;
  width: 300px;
  height: 30px;
  border: solid #3646a8;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  text-decoration: blink;
  color: #3646a8;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60px;
  height: 87px;
}

th{
  text-align: center !important;
  font-size: 18px;
  text-decoration: underline;
  color: #3646a8;
  font-weight: bold;
}

td{
  text-align: center;
  font-size: 15px;
  color: #3646a8;
  font-weight: bold;
}

table{
  width: 75%;
  margin: auto;
  border-collapse: collapse;
}

#space{
  margin-top: 75px;
  color: white;
}

.score-input {
  border: 2px solid #3646a8;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

