<h1>Règles du jeu</h1>
<p> Bienvenue sur CKR Foot !<br>
    Pour bien démarrer voici les règles du jeu.<br>
    Pour commencer veuillez créez un compte ou vous connectez.<br>
    Ensuite créez une communauté et invitez vos amis à la rejoindre. <br>
    Une fois dans une communauté vous allez pouvoir commencer à parier. <br>
    Pour celà vous allez dans "Mes paris" puis vous pronostiquez le score exact du match. <br>
    Si votre score est exact vous prendrez 10 points au classement. <br>
    Si vous n'avez pas le score exact mais la bonne équipe gagnante ou le match nul vous prenez 5 points.<br>
    Dans le cas contraire vous ne marquez pas de points. <br>
    Et pour "rajouter un enjeu" vous pouvez mettre un défi à celui qui finira dernier !(comme par exemple offrir un apéritif a la communauté</p>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="retour">Retour</button>
</mat-dialog-actions>
