<h1>Règles du jeu</h1>
<p> Bienvenue sur CKR FOOT !<br>
    Pour bien démarrer voici les règles du jeu.<br>
    Pour commencer, créer toi un compte ou connecte-toi.<br>
    Ensuite, tu peux accéder à toutes les rubriques du site. <br>
    Tu peux consulter les résultats de la Ligue 1 et suivre les scores en temps réel. <br>
    De plus, tu peux aller dans la rubrique "Mes paris" et pronostiquer le score exact des matchs de la prochaine journée. <br>
    Si ton score est exact, tu gagnes 10 points au classement (que tu peux consulter dans la rubrique "Classement"). <br>
    Si tu n'as pas le score exact, mais la bonne équipe gagnante ou le match nul, tu gagnes 5 points.<br>
    Dans le cas contraire, tu ne marques pas de points. <br>
    Pour finir, tu peux soit créer ta communauté soit en rejoindre une. Une fois dans une communauté, tu peux consulter le classement ainsi que la messagerie des personnes qui sont dans ta communauté. <br>
    Et pour "rajouter un enjeu", tu peux mettre un défi à celui qui finira dernier ! Donc, parie bien et sois le meilleur parieur ! </p>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="retour">Retour</button>
</mat-dialog-actions>
