h2 {
  font-size: 25px;
  font-weight: bold;
  color: #3646a8;
  margin-bottom: 20px;
  border: 1px dashed #3646a8;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


th{
    text-align: center !important;
    font-size: 18px;
    text-decoration: underline;
    color: #3646a8;
    font-weight: bold;
  }

td{
    font-size: 15px;
    text-align: center;
    color: #3646a8;
    font-weight: bold;
}

table{
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

#space{
    margin-top: 75px;
    color: white;
  }
