caption{
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: blink;
}

th{
    text-align: center !important;
    font-size: 18px;
    text-decoration: underline;
    color: #3646a8;
    font-weight: bold;
  }

td{
    font-size: 15px;
    text-align: center;
    color: #3646a8;
    font-weight: bold;
}
  
table{
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

#space{
    margin-top: 75px;
    color: white;
  }