<h2>Accueil</h2>

<div class="fond">
    <div class="div">
        <figure> <img class="ligue" src="../../../assets/img/ligue1.jpg" alt="ligue"> </figure>
    </div>
        <div class="long">
            <h1> Qui sommes nous ?</h1>
            <img class="image" src="../../../assets/img/Logo_fond.png" alt="image"/>
            <br>
            <p> Bienvenue sur CKR FOOT ! </p>
            <p> Nous sommes trois étudiants de licence informatique.  </p>
            <p> Passionné par le football et l'informatique, nous avons créé CKR FOOT. </p>
            <p> CKR FOOT est un site qui te permet de participer gratuitement à un concours de pronostics sur les matchs du championnat de France de Ligue 1. </p>
            <p> Vous êtes actuellement  {{ getNumberOfUsers() }} utilisateurs pour {{ getNumberOfCommunaute() }} communautés. </p>
        </div>
</div>